.App {
  text-align: center;
}

.contact-form {
  background-color: blue;
}

.favorites-section {
  background-color: pink;
}

.books-section {
  background-color: orange;
}

.nav-section {
  background-color: green;
}

.footer {
  background-color: purple;
}

.home-section {
  background-color: yellow;
}

.login-section {
  background-color: burlywood;
}

.active {
  color: red;
}